.card {
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(170, 159, 154, 0.2);
}

.btn {
    font-size: smaller;
}

.accept {
    background-color: #cd4d0e !important;
    border: #cd4d0e !important;
}

.refuse {
    border: none;
}

.accept:hover {
    background-color: rgb(240, 130, 76) !important;
    transition: .35s;
}

.refuse:hover {
    background-color: rgb(255, 85, 85) !important;
    transition: .35s;
}

button:not(:hover) {
    transition: .35s; 
  }

.border {
    margin-bottom: 20px !important;
}


.profile-pic {
    height: 30px;
    width: 30px;
    object-fit: cover;
    padding: 0 !important;
    margin-left: 15px;
}

h6 {
    font-size: large;
}

.friendship-message {
    font-size: smaller;
    margin-bottom: 20px;
}