/* GENERAL */

.card {
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(170, 159, 154, 0.2);
}

.border {
    margin-bottom: 20px !important;
}

.post-img {
    width: 100%;
}

h6 {
    font-size: medium;
    position: relative;
}

.post-text {
    font-size: smaller;
}

.user-img {
    height: 80px;
    width: auto;
}

.profile-type {
    font-size: smaller;
    color: 69,69,69;
    font-weight: 300;
}

/* LIKES */

.like {
    height: 20px;
}

.like-text {
    font-size: smaller;
}

.like-btn {
    border: none;
    background: none;
    padding: 1px;
}


/* COMMENTS */

input, textarea, button, select {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
    resize: none;
}
  
input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.comments {
    text-align: justify;
}

table {
    border-collapse: separate !important;
}

tr {
    padding: 5px;
}

th {
    font-size: smaller;
}

td {
    box-sizing: border-box;
    padding: 8px 15px;
    border-radius: 5px !important;
    border: none;
    background-color: #f6f6f6;

}

::-webkit-input-placeholder {
    font-size: smaller;
}

.btn {
    background-color: #cd4d0e !important;
    border: #cd4d0e !important;
    height: 25px;
    width: 70px;
    font-size: smaller !important;
    padding: 0;
}

/* ANIMATIONS */

/* buttons */

.btn:hover {
    background-color: rgb(240, 130, 76) !important;
    transition: .35s;
}

.btn:not(:hover) {
    transition: .35s; 
}

/* comments */

.comment-section { /* Hide the comment section by default */
    display: none; 
}

.toggle-label { /* Style the label to look like a button */
    background-color: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: smaller;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked + .toggle-label + .comment-section { /* When the checkbox is checked, show the comment section */
    display: block;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in ;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1; 
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;   
  -webkit-animation-duration:.2s;
  -moz-animation-duration:.2s;
  animation-duration:.2s;
}
