<div class="text-center text-lg-start my-1 container">
    <!-- Copyright -->
    <div class="text-center p-3 copyright">
      © 2023 Copyright: Questo è un Project Work didattico.
    </div>
    <!-- info -->
    <div class="info text-center p-3">
        <a class="mx-3" href="#">Informativa sui cookie</a>
        <a class="mx-3" href="#">Privacy Policy</a>
        <a class="mx-3" href="#">Termini e condizioni</a>
        <a class="mx-3" href="#">Contatti</a>
        <a class="mx-3" href="#">Lavora con noi</a>
        <a class="mx-3" href="#">Aggiorna le impostazioni di tracciamento della pubblicità</a>
    </div>
  </div>