<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" class=" text text-center align-middle">CODICE POST</th>
            <th scope="col" class=" text text-center align-middle">FOTO</th>
            <th scope="col" class=" text text-left align-middle">DESCRIZIONE</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts" >
            <th scope="row" class="align-middle text-center">{{post.id}}</th>
            <td class="align-middle text-center"><img [src]=" post.image ? post.image :'.../../../assets/img/paesaggio_prova.jpg'" alt="post-image"></td>
            <td class="align-middle"><p class="text-muted mb-1 post-text mb-4">{{post.content}}</p></td>
            <td class="align-middle text-center"><button type="button" class="btn btn-primary" (click)="savePostId(post?.id!)">PROMUOVI</button></td>
        </tr>
    </tbody>
</table>
